body {
  min-width: var(--main-width);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;

  color: var(--main-color);
  font-size: 1.2em;
  font-family: "Roboto", Arial, sans-serif;
  line-height: 1.5;
  background-color: var(--bg-color);
}

h3 {
  position: relative;
  margin: 2em 0;
  font-size: 2em;
  text-align: left;
  border-bottom: 2px solid var(--main-header-border);
}

h3.fun span{
  position: absolute;
  right: 0;
  font-size: 0.5em;
  color: var(--main-header-fun);
  bottom: -2em;
}

/* --- Навигация --- */

nav.main {
  width: 100%;
  position: fixed;
  background: var(--nav-bg);
  z-index: 1;
  box-shadow: 0 2px 5px 0 var(--shadow-gray), 0 2px 10px 0 var(--nav-shadow);
}
nav.main ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}
nav.main a {
  display: block;
  width: 9em;
  padding: 0.5em 1em;
  color: var(--nav-link);
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
}
nav.main .home a {
  width: 4em;
}
nav.main .home .fa-home:before {
  font-size: 2em;
  position: relative;
  top: 0.1em;
  padding-bottom: 0.1em;
}


nav.main a span {
  padding: 0.7em 0;
}
nav.main .home a span {
  padding: 0;
}

nav.main .active a,
nav.main a:hover {
  color: var(--nav-main-link);
}
nav.main .home a {
  color: var(--bg-color);
}
nav.main a:hover span:first-child {
  display: none;
}
nav.main a:hover span:last-child {
  display: inline;
}


.block-menu {
  display: block;
}

.block-menu li {
  display: inline-block;
}

.block-menu li a {
  display: block;
  text-decoration: none;
  overflow: visible;
  line-height: 20px;
  font-size: 1em;
  font-weight: bold;
  padding: 15px 30px;
  text-align: center;
  color: var(--bg-color);
}

.three-d {
  perspective: 200px;
  transition: all .07s linear;
  position: relative;
  cursor: pointer;
}
.three-d:hover .three-d-box,
.three-d:focus .three-d-box {
  transform: translateZ(-25px) rotateX(90deg);
  }

.three-d-box {
  transition: all .3s ease-out;
  transform: translatez(-25px);
  transform-style: preserve-3d;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
}

.front {
  transform: rotatex(0deg) translatez(25px);
}

.back {
  transform: rotatex(-90deg) translatez(25px);
  color: var(--main-color);
}

.front, .back {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: var(--bg-color);
  padding: 15px 10px;
  color: var(--main-color);
  pointer-events: none;
  box-sizing: border-box;
}
a .front {
  background: var(--bg-color);
}
a .back,
.active a .front {
  background: var(--nav-lightgray);
}
.active a .front,
.active a .back {
  color: var(--nav-link-active);
}

.back.fa-home::before {
    color: var(--nav-link);
}

/* --- Шапка --- */

.container {
  width: var(--main-width);
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
  overflow: hidden;
}

.header {
  display: flex;
  margin: 120px 0 30px;
  padding: 20px;
}
.header img {
  border-radius: 50%;
  box-shadow: 0 0 0 20px var(--shadow-lightgray);
  border: 20px solid var(--shadow-gray);
  margin: 20px;
  width: 250px;
  height: 250px;
}
.header .name {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 40px;
  overflow: hidden;
  font-weight: 600;
}
.header .name h1 {
  margin: 0 0 10px;
  font-size: 3em;
}
.header .name h2 {
  margin: 0 0 20px;
  font-size: 1.5em;
}

.header .name ul {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  width: 300px;
  list-style: none;
  font-size: 1.1em;
}

/* --- Ссылки на соц.сети и сервисы --- */
.header .name a {
  display: block;
  padding: 0.5em;
  text-decoration: none;
  border: 1px dashed var(--bg-color);
}

.contacts li a:hover {
  border: 1px dashed;
  border-radius: 8px;
  filter: grayscale(75%);
}

.contacts li a.gmail {
  color: var(--contact-gmail);
}
.contacts li a.phone {
  color: var(--contact-phone);
}
.contacts li a.telegram {
 color: var(--contact-telegram);
}
.contacts li a.skype {
  color: var(--contact-skype);
}
.contacts li a.linkedin {
  color: var(--contact-linkedin);
}
.contacts li a.github {
  color: var(--contact-github);
}
.contacts li a.github:hover {
  color: var(--contact-github-hover);
}
.contacts li.big {
  position: absolute;
  top: 6px;
  right: -150px;
}
.header .name li.big a {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.header .name li.big  i {
  font-size: 2em;
  margin: 0;
}

main {
  flex-grow: 1;
}

main section {
  margin-bottom: 5em;
}

#about {
    position: relative;
}
#about:before {
    z-index:-1;
    position: absolute;
    right: 0;
    bottom: -4em;
    opacity:0.2;
    content: '';
    width: 168px;
    height: 116px;
    background-image: url(../img/laravel-old.svg);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: contain;
}

.link {
  text-decoration: none;
  border-bottom: 1px dashed var(--contact-linkedin);
  color: var(--contact-linkedin);
}
.external-link {
  text-decoration: none;
  border-bottom: 1px solid var(--contact-linkedin);
  color: var(--contact-linkedin);
}
.link:hover,
.external-link:hover {
  color: var(--dark-navygray);
}
.link:hover {
  border-bottom: 1px dashed var(--dark-navygray);
}
.external-link:hover {
  border-bottom: 1px solid var(--dark-navygray);
}
.link.no-underline,
.external-link.no-underline {
  border-bottom: 1px solid var(--bg-color);
  text-decoration: none;
}

.list ul {
  margin: 0;
}

.list > li {
  padding-bottom: 1em;
  margin-bottom: 1em;
  list-style: none;
  border-bottom: 1px dashed lightgray;
}
.list > li:last-child {
  border-bottom: none;
}

.list .date {
  min-width: 110px;
}
.list .logo {
  min-width: 288px;
}

.icon {
  width: 5em;
}
.icon i {
  position: relative;
}
.icon .fa-home,
.icon .fa-laptop {
  position: relative;
}
.icon .fa-home:before {
  content: "\f015";
  font-size: 2.7em;
  color: gainsboro;
}
.icon .fa-laptop:before {
  content: "\f109";
  font-size: 2.4em;
  color: darkorange;
  position: absolute;
  bottom: -16px;
  left: -36px;
}
.icon .fa-laptop:after {
  content: 'Remote Work';
  color: gray;
  font-weight: bold;
  font-family: 'Roboto';
  position: relative;
  top: -1px;
  left: -9px;
}

.fa-file-pdf-o:before {
  margin-right: 5px;
}

#education .logo {
  min-width: 250px;
  margin-right: 2em;
}

footer {
  margin-top: 5em;
  box-shadow: 0 -2px 5px 0 var(--shadow-gray), 0 -2px 10px 0 var(--nav-shadow);
}
footer .container {
  display: flex;
  justify-content: space-between;
}
footer .container nav {
  flex-grow: 1;
}
footer .container ul {
  display: flex;
  justify-content: space-around;
  margin: 1em 0;
  padding: 0;
  list-style: none;
}
footer .container li a {
  display: block;
  padding: 0.5em 0.5em 0.2em;
  border: 1px dashed var(--bg-color);
  text-align: center;
  text-decoration: none;
}
footer .container li i {
  font-size: 1.5em;
  margin: 0 0 0.3em;
}

/*-- old styles sectiopn projects -- */

#projects > ul > li {
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 25px;
  border-bottom: 3px dashed lightgray;
}

#projects > ul > li .left {
  float: right;
  margin: 5px 0 5px 20px;
  width: 300px;
  min-width: 300px;
}
#projects > ul > li .left p {
  text-align: center;
}
#projects > ul > li .desc {
  padding-left: 5px;
}
#projects > ul > li .desc h2 {
  margin-top: 0;
  line-height: 1.2em;
}
#projects > ul > li .desc h2 svg {
  position: relative;
  top: 4px;
}


#projects > ul > li .desc .maket {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  margin: 16px 0;
}
#projects > ul > li .desc .maket img {
  min-width: 250px;
  max-width: 500px;
  margin: 5px;
  padding: 3px;
  outline: 1px solid darkgray;
}
#projects > ul > li .desc .maket img:hover {
  box-shadow: 1px 1px 7px 0px darkgray;
  cursor: pointer;
}

#projects > ul > li summary {
  display: inline-block;
  cursor: pointer;
}

#projects > ul > li ul {
  margin: 0;
  padding: 0;
  list-style: none;
}


/*-- new styles sectiopn projects -- */

.grid {
  position: relative;
  clear: both;
  margin: 0 auto;
  padding: 1em 0;
  max-width: 920px;
  list-style: none;
  text-align: center;
  overflow: hidden;
}

/* Common style */
.grid figure {
  position: relative;
  float: left;
  margin: 10px 1%;
  min-width: 320px;
  max-width: 440px;
  max-height: 360px;
  width: 48%;
  height: auto;
  text-align: center;
}

.grid figure img {
  position: relative;
  display: block;
  box-sizing: content-box;
  min-height: 100%;
  max-width: 100%;
  border: 1px solid #ccc;
  width: 440px;
  height: 250px;
  z-index: -1;
}

.grid figure figcaption {
  padding: 1em 1em;
  text-transform: uppercase;
  font-size: 1em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
  pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}

.grid figure h4 {
  position: relative;
}

.grid figure h4 {
  margin: 0;
  margin-top: -2.5em;
}

figure.effect-kira {
  text-align: left;
  margin-top: 2.5em;
}

figure.effect-kira .desc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1.5em 0.5em;
  padding: 0.5em;
  height: 95%;
  font-weight: 600;
  font-size: 100%;
  line-height: 1.5;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,-10px,0);
  transform: translate3d(0,-10px,0);
}

figure.effect-kira .desc p {
  margin: 0;
  letter-spacing: 1px;
  font-size: 68.5%;
}
figure.effect-kira .desc .top {
  font-size: 1em;
}
figure.effect-kira .desc .middle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1em;
}
figure.effect-kira .desc .bottom {
  color: darkslategrey;
}

figure.effect-kira .desc a {
  display: inline-block;
  padding: 0.5em;
  color: var(--contact-github-hover);
}

figure.effect-kira .desc a:hover {
  color: var(--contact-github);
}

figure.effect-kira .desc a i::before {
  font-size: 2em;
  color: var(--contact-github-hover);
}

figure.effect-kira .desc a:hover i::before ,
figure.effect-kira .desc a:focus i::before {
  color: var(--contact-github);
}

figure.effect-kira figcaption::before {
  position: absolute;
  top: -3.5em;
  right: 1.5em;
  left: 1.5em;
  z-index: -1;
  height: 80%;
  content: '';
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,4em,0) scale3d(1,0.023,1) ;
  transform: translate3d(0,4em,0) scale3d(1,0.023,1);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
}

figure.effect-kira:hover img {
  opacity: 0.5;
}

figure.effect-kira:hover .desc {
  opacity: 1;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

figure.effect-kira:hover figcaption::before {
  opacity: 0.7;
  color: black;
  background: white;
  box-shadow: 0 0 0px 4px var(--dark-color);
  -webkit-transform: translate3d(0,5em,0) scale3d(1,1,1) ;
  transform: translate3d(0,5em,0) scale3d(1,1,1);
}