/*! outline.css v1.2 | GNU License | avxodiar@gmail.com */

header, main, footer, nav, section, article, aside, .wrap {
  min-height: 20px;
  left: 0;
}

header::before,
main::before,
nav::before,
section::before,
article::before,
aside::before,
footer::before,
.wrap::before {
  position: absolute;
  right: 0;

  padding: 3px;
  font-weight: 700;

  border: 1px dotted black;
  background-color: rgba(127, 127, 127, 0.5);
}

.wrap {
  outline: 1px dashed #000000;
  opacity: 0.7;
}
header {
  outline: 2px solid #00FF00;
  background-color: rgba(0,255,0,50%);
}
main {
  outline: 2px solid #FF0000;
  background-color: rgba(255,0,0,50%);
}
nav {
  outline: 2px solid #FFFF00;
  background-color: rgba(255,255,0,50%);
}
section {
  outline: 2px solid #FF7F00;
  background-color: rgba(255,127,0,50%);
}
article {
  outline: 2px solid #FF00FF;
  background-color: rgba(255,0,255,50%);
}
aside {
  outline: 2px solid #00FFFF;
  background-color: rgba(0,255,255,50%);
}
footer {
  outline: 2px solid #0000FF;
  background-color: rgba(0,0,255,50%);
}

header::before {
  content: "header";
}
main::before {
  content: "main";
}
nav::before {
  content: "nav";
}
section::before {
  content: "section";
}
article::before {
  content: "article";
}
aside::before {
  content: "aside";
}
footer::before {
  content: "footer";
}
wrap::before {
  content: "wrap";
}
